@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Dancing+Script:wght@400;700&family=Poppins&family=Ubuntu:ital,wght@1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.__hero-text {
  @apply mx-auto text-3xl w-[300px] md:w-full font-bold leading-tight md:mx-0 md:text-6xl font-Poppins
}

.__hero-subtext {
  @apply mt-6 leading-loose text-base text-center text-gray-500 md:text-start
}
